{% extends "base.html" %} {% block title %}You've logged in {% endblock %} 
{%block content %}
<p>Hello! You have Logged in as {{ email }}</p>

<h2>Freedom Fund Database</h2>
<p>Search the table for first names, last names or emails:</p>
<input class="form-control" id="myInput" type="text" placeholder="Search.." />
<br />
{% for jailed in candidates %}
<div id="jailedCard" class="card" style="width: 100%;">
  <div class="card-body">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row">
              <div class="col">
                <a href={{ jailed.Url }}> {{jailed.Name}} </a>
              </div>
              <div class="col">
                <p>{{ jailed._id }}</p>
              </div>
              <div class="col">
                <button data-toggle="collapse" href="#collapse{{jailed._id}}" type="button" class="btn btn-secondary">See Charges</button>
            </div>
          </h4>
        </div>
        <div id="collapse{{jailed._id}}" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <th scope="col">Arresting Agency</th>
                <th scope="col">Grade of Charge</th>
                <th scope="col">Charge Description</th>
                <th scope="col">Bond Amount</th>
              </thead>
              <tbody>
                {% for charge in jailed.Charges %}
                <tr>
                  <td>{{ charge.Arresting_Agency}}</td>
                  <td>{{ charge.Grade_of_Charge}}</td>
                  <td>{{ charge.Charge_Description}}</td>
                  <td>{{ charge.Bond_Amount}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}